header, footer{background-color: rgba(248, 0, 54, 0.815);

}




body{background-color: rgb(36, 34, 35);

    font-size: 18px;

    font-family: monospace, sans-serif;

    color: ghostwhite;
}

#my-image{box-shadow: black 0px 0px 2px 1px;

}

li{list-style: square;
}