header, footer{background-color: rgba(255, 4, 46, 0.884);}

.site-title-2{color: rgb(1, 141, 255);
    font-size: 12.5mm}

#tag-list{color: black;
    background-color: rgba(169, 169, 169, 0.938); 
    font-weight: bold;
}

body{background-color: rgb(36, 34, 35);

    font-size: 18px;

    font-family: monospace, sans-serif;

    color: ghostwhite;
}

dt:nth-child(odd){ background-color: rgba(169, 169, 169, 0.377);}
}

a{text-decoration: none;}

a{  color: black;
    
    border-style: solid;}

a:hover{background-color: rgb(225, 230, 238);}

footer{color: black;}