


/*=================================================================================================================================
==============================================================MEDIA QUERIES========================================================
===================================================================================================================================*/



@media screen and (min-width: 760px){
		
    /*=================================================================================================================================
    ==============================================================MEDIA QUERIES========================================================
    ===================================================================================================================================*/
        

        .container{
            max-width: 100%;
        }
    
        nav{
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            padding: none;
        }
    
        nav ul{
            display: flex;
            justify-content: center;
        }
    
        .logo{
            background: none;
            padding: 0px;
        }
    
        header .searchbar{
            width: auto;
        }
    
        
        .topmenu :nth-child(1){
           color: #222;
           background: #c78c06;
       }

       #main-banner{
           height: 700px;
       }

       .openoffice{
           position: relative;
       }

       .wrapper{
           margin: 10px;
       }
      

       .openoffice-content{
           position: absolute;
           line-height: 125px;
           top: 100px;
           bottom: 100px;
           margin: 0px 100px 0px 100px;
       }

       .openoffice-content h2{
        font-size: 20vw;
        line-height: 100px;
       }


    
    /*=================================================================================================================================
    ==============================================================ABOUT US=============================================================
    ===================================================================================================================================*/
    
    .aboutus{
        display: flex;
    }
    
    .aboutus img{
        width: 443px;
        padding-left: 125px;
    }
    
    .aboutcontent{
        display: block;
        padding: 0px 125px 0px 15px;
    }
    
    .aboutus h2{
        padding-top: 0px;
        padding-bottom: 25px;
        font-size: 50px;
        font-weight: 600;
    }
    
    /*=================================================================================================================================
    ==============================================================OUR SERVICES=========================================================
    ===================================================================================================================================*/
    
    .ourservices{
        padding: 50px 145px 25px 145px;
    }

    .ourservices h2{
        padding: 0px 0px 25px 0px;
        font-size: 50px;
        font-weight: 600;

    }
    
    .opencontent h3{
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 30px;
        font-weight: 600;
        resize: none;
    }
    
    .opencontent{
        width: 100%;
        padding-bottom: 20px;
        row-gap: 1em;
    }

    .ourservices a{
        width: 80%;
    }

 
    

    /*==============================================================TOP=================================================================*/

    .top-s{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1;
        column-gap: 1em;
        width: 100%;
    }

    .top-s .left{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 1;
        justify-self: start;
        width: 100%;
    }

    .top-s .right{
        display: grid;
        grid-column-start: 2;
        grid-column-end: 2;
        justify-self: end;
        width: 100%;
    }



    /*==============================================================BOTTOM===============================================================*/

    .bottom-s{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1;
        column-gap: 1em;
    }

    .bottom-s .left{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    /*=================================================================================================================================
    ==============================================================OUR VISION===========================================================
    ===================================================================================================================================*/
    
    .ourvision{
        display: block;
        position: relative;
    }
    
    .ourvision .content{
        display: block;
        width: 100%;
        position: absolute;
        top: 50px;
    }
    
    .ourvision img{
        width: 100%;
        height: 500px;
        position: static;
    }
    
    
    /*=================================================================================================================================
    ==============================================================OUR TEAM=============================================================
    ===================================================================================================================================*/

    .ourteam{
        padding: 50px 145px 25px 145px;
    }

    
    .ourteam h2{
        padding: 0px 0px 25px 0px;
        font-size: 50px;
        font-weight: 600;

    }
    
    .ourteam-content{
        display: flex;
        flex-wrap: wrap;
        grid-auto-rows: 2fr;
        grid-auto-columns: 2fr;
        width: 100%;
    }

    
      /*-=======================================================JOHN====================================================================*/

    .johnimage{
        width: 50%;
        border: none;
    }

    .johncontent{
        width: 50%;
        background: #ffe6ac;
        border-bottom: none;
    }


        /*-=======================================================BOB===================================================================*/

    
        .bobimage{
            order: 3;
            width: 50%;
        }
    
        .bobcontent{
            width: 50%;
            background: #ffe6ac;
            border-bottom: none;
        }
    
    
    /*==================================================================================================================================
    ============================================================CONTACT US==============================================================
    ===================================================================================================================================*/
    
    
    .contactus{
        padding: 50px 145px 25px 145px;
    }

    #contactpls{
        padding: 0px 0px 50px 0px;
        font-size: 50px;
        font-weight: 600; 
    }

    .contactus .content .top{
        display: flex;
        margin-bottom: 0px;
    }
    
    .contactus .content .bottom{
        position: static;
        margin-bottom: 0px;
    }

    .contactus h3{
        padding: none;
    }

    
    
    /*-=======================================================FORM FIELDS===============================================================*/
    
       .contactus .content .left{
        padding-bottom: 0px;
        width: 50%;
    }


    #location{
        padding: 0px 0px 15px 0px;
    }

    .contactus .content .right{
        position: relative;
        bottom: 25px;
        width: 50%;
    }



        /*-=====================================================FOOTER=================================================================*/

}


@media screen and (max-width: 660px) {


    #welcome23{
        font-size: 7.5vw;
        line-height: 50px;
       }

       .openoffice-content p{
        font-size: .75em;
        line-height: 15px;
        padding-bottom: 0px;
    }

    #connect{
        font-size: 15px;
        display: inline-block;
        color: black;
        background-color: #c78c06;
        padding: 20px 20px 20px 20px;
        
    }

    
}



@media screen and (min-width: 660px) and (max-width: 760px){

    #welcome23{
        font-size: 7.5vw;
        line-height: 50px;
       }

       
      #connect{
        font-size: 1em;
        display: inline-block;
        color: #222;
        background-color: #c78c06;
        padding: 15px 15px 15px 15px;
        
    }



    .ourvision .content h2{
        font-size: 10vw;
       }

}


@media screen and (max-width: 1920px) and (min-width: 760px){

    #welcome23{
   
        font-size: 5vw;
         line-height: 7.5vw;   
    }

    
}    


