/*Below is a CSS Reset function. Since different browser can have slightly different aspects about them, 
the CSS Reset code resets everything to zero. This will allow it to be unified over all browsers.*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*=================================================================================================================================
==============================================================CODE START===========================================================
===================================================================================================================================*/

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*=================================================================================================================================
=========================================================WELCOME TO 3 STAR=========================================================
===================================================================================================================================*/

header{
	background-color: #222;
}

nav{
	padding: 15px;
}

.logo{
	padding: 0px 0px 75px;
	background-color: #c78c06;
	
}

.topmenu{

	text-align: center;
}

.topmenu :nth-child(1){
	color: #222;
	background: #c78c06;
}

.topmenu li{
	padding: 25px;
	color: #c78c06;
}

header .searchbar{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.searchbar input{
	padding: 10px;
}

#main-banner{
	width: 100%;
}
	

.openoffice-content{
	position: absolute;
	left: auto;
	right: auto;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 15px;	
}

.openoffice-content p{
	line-height: 25px;
	padding-bottom: 10px;
}

.openoffice-content h1{
	font-size: 150px;
	font-weight: 600;
}

#connect{
	font-size: 1.5em;
	display: inline-block;
	color: #222;
	background-color: #c78c06;
	padding: 35px 35px 35px 35px;
	
}


/*=================================================================================================================================
=========================================================ABOUT US==================================================================
===================================================================================================================================*/

.aboutus{
	background: #ffe6ac;
	padding: 15px;
}

.aboutus img{
	width: 100%;
}

.aboutus h2{
	padding-top: 15px;
	padding-bottom: 25px;
	font-size: 75px;
	font-weight: 600;
}

.aboutus p{
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*-===================================================================================================================================
   ========================================================OUR SERVICES===============================================================
   ===================================================================================================================================-*/

.ourservices{
	padding-top: 30px;
}
 
/*-===================================================================================================================================
   ========================================================SEPERATE==================================================================*/

.top-s .left{
	background-color: #ffe6ac; 
	border-bottom: solid white 15px;
}

.top-s .left div{
	padding: 15px;
}



.top-s .right{
	background-color: #ffe6ac; 
	border-bottom: solid white 15px;
}

.top-s .right div{
	padding: 15px;
}



.bottom-s .left{
	background-color: #ffe6ac; 
	border-bottom: solid white 15px;
}

.bottom-s .left div{
	padding: 15px;
}



.bottom-s .mid{
	background-color: #ffe6ac; 
	border-bottom: solid white 15px;
}

.bottom-s .mid div{
	padding: 15px;
}



.bottom-s .right{
	background-color: #ffe6ac; 
	border-bottom: solid white 15px;
}

.bottom-s .right div{
	padding: 15px;
}

/*-===================================================================================================================================
   ========================================================TOGETHER==================================================================*/

.ourservices{
	padding: 15px;
}

.ourservices h2{
	padding: 25px 15px 25px 5px;
	font-size: 75px;
	font-weight: 600;
}

.ourservices img{
	width: 100%;
}

.ourservices h3{
	font-size: 50px;
	font-weight: 600;
	padding: 35px 0px 35px 15px;
}

.ourservices a{
	display: inline-block;
	text-decoration: none;
	font-size: 1.5em;
	color: white;
	background-color: #222;
	padding: 35px 35px 35px 35px;
}

.ourservices p{
	padding: 15px;
	line-height: 25px;
}

/*-===================================================================================================================================
   ========================================================OUR VISION=================================================================
   ===================================================================================================================================-*/

.ourvision{
	padding-top: 10px;
}

.ourvision img{
	width: 100%;

}


.ourvision h2{
	font-size: 50px;
	font-weight: 600;
	padding: 25px 0px 25px 15px;
}

.ourvision p{
	padding: 15px;
	line-height: 25px;
}

.ourvision a{
	display: inline-block;
	text-decoration: none;
	font-size: 1.5em;
	color: white;
	background-color: rgba(2, 2, 2, 0.75);
	border: #c78c06 solid 2px;
	padding: 35px 35px 35px 35px;
}

.ourvision .content div{
	padding: 5px 15px 15px 15px;
}

.ourvision .content{
	position: absolute;
}

.ourvision .content h2{
	color: white;
}

.ourvision .content p{
	color: white;
}


/*==================================================================================================================================
============================================================OUR TEAM================================================================
===================================================================================================================================*/

.john{
	background-color: #ffe6ac; 
	border-bottom: solid white 15px;
}

.bob{
	background-color: #ffe6ac; 
	border-bottom: solid white 15px;
	
}

/*-===================================================================================================================================
   ========================================================TOGETHER==================================================================*/

.ourteam img{
	width: 100%;
}

.ourteam h2{
	font-size: 75px;
	font-weight: 600;
	padding: 35px 0px 35px 15px;	
}

.ourteam h3{
	font-size: 35px;
	font-weight: 600;
	padding: 25px 0px 5px 15px;
}



.ourteam .words{
	padding: 10px 0px 15px 15px;
}

.ourteam div p strong{
	font-weight: bold;
	padding: 10px 0px 0px 15px;
}

.ourteam hr{
	border:solid 2px #c78c06;
}

.line{
	padding: 0px 15px 0px 15px;
}


/*==================================================================================================================================
============================================================CONTACT US==============================================================
===================================================================================================================================*/

#contactpls{
	padding-top: 75px;
	padding-bottom: 50px;
	font-size: 75px;
	font-weight: 600;
}

.contactus{
	padding: 10px;
}

.contactus h2{
	font-size: 35px;
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;

}

.contactus h3{
	font-size: 35px;
	font-weight: 600;
}

/*-===================================================================================================================================
   ========================================================FORM FIELDS===============================================================*/
#fullname{
	width: 100%;
}


#email{
	width: 100%;
}


textarea{
	width: 100%;
	height: 150px;
	resize: none;
}

.labeldiv{
	padding: 20px 10px 20px 0px;
}

input{
	padding: 5px 0px 5px 0px;
}

.send{
	color: #c78c06;
	background: #222;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 5px 5px 5px 5px;
}

/*-===================================================================================================================================
   ========================================================HOURS OF OPERATION=========================================================*/
table{
	width: 100%;
	
}

table tr{
	border: solid 2px #222;
}

table th{
	border: solid 2px #222;
	background: #ffe6ac;
	padding: 15px;
}

table td{
	border: #222 solid 2px;
	padding: 15px;
}








/*-===================================================================================================================================
   ===================================================================LOCATION========================================================*/

iframe{
	width: 100%;
}




/*=================================================================================================================================
==============================================================FOOTER===============================================================
===================================================================================================================================*/

#footer{
	color: #c78c06;
	background: #222;
	padding: 35px 0px 10px 15px;
	line-height: 35px;
}

#footer a{
	color: #c78c06;
}














/*=================================================================================================================================
==============================================================MEDIA QUERIES========================================================
===================================================================================================================================*/

@media screen and (max-width: 760px){
	
	.container{
		color: blue;
	}

}






